.loginbox{
    width: 320px;
    height: 420px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

#loginbutton{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  width: 50%;
  cursor: pointer;
  &:hover{
    opacity: .75;
  }
}

.error{display:none;
color: red;}
