.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    align-items: center;
    transition: transform .5s;

     img {
        width: 100%;
    }
     P {
        font-size: 14px;
        text-align: center;
    }
    &:hover{
        transform: translateY(5px);
    }
}

